<section class="bg-blue-400 py-14" style="margin-bottom:40px; background: rgb(219, 234, 254);border-top: 25px solid rgb(30, 58, 138);padding-bottom: 40px">

    <div class="container max-w-screen-xl mx-auto">

        <nav class="flex-wrap lg:flex justify-between items-center px-4" x-data="{navbarOpen:false}">
            <div class="flex items-center lg:mb-0">
                <div class="flex flex-wrap items-center">
                  <a href="https://www.kattenvoerdeals.nl"><img src="{{ site.baseurl }}/assets/image/3dlogo.png" alt="Kattenvoerdeals.nl" style="margin-right: 10px;" class="h-16"></a>
                <!--  <h5 class="font-light">kattenvoerdeals.nl</h5>-->
                </div>
                <button class="lg:hidden w-10 h-10 ml-auto flex items-center justify-center border border-blue-500 text-blue-500 rounded-md" @click="navbarOpen = !navbarOpen">
                    <ion-icon name="menu-outline"></ion-icon>
                </button>
            </div>

            <ul class="lg:flex flex-col lg:flex-row lg:items-center justify-end lg:space-x-8 xl:space-x-14" :class="{'hidden':!navbarOpen,'flex':navbarOpen}">
                <li class="font-semibold text-blue-900 hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                    <a href="https://www.kattenvoerdeals.nl">Home</a>
                </li>
                <li class="font-semibold text-blue-900 hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                    <a href="https://www.kattenvoerdeals.nl/aanbiedingen_brand_hillsscienceplan.html">Hill's Science Plan aanbiedingen</a>
                </li>
                <li class="font-semibold text-blue-900 hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                    <a href="https://www.kattenvoerdeals.nl/aanbiedingen_natvoer.html">Natvoer</a>
                </li>
                <li class="font-semibold text-blue-900 hover:text-gray-400 transition ease-in-out duration-300 mb-5 lg:mb-0">
                  <a href="https://www.kattenvoerdeals.nl/aanbiedingen_brokken.html">Kattenbrokken</a>
                </li>
             
                
            </ul>

        </nav>


                  
    

    </div>


    <div class="max-w-screen-xl mx-auto" style="
    padding-top: 5vw;
 ">
                 <div class="container mx-auto flex flex-col md:flex-row  justify-center" style="
    padding-bottom: 40px !important;
 ">
                     <!-- Eerste tekstkolom -->
                     <div class="w-full  {% if page.heading_image %}md:w-1/2{% endif %} text-center md:text-left mb-8 md:mb-0">
                         
                        {% if page.heading %}<h2 class="font-serif text-5xl md:text-5xl font-bold text-blue-900 mb-4" style=" margin-bottom: 30px;">{{page.heading}}</h2>{% endif %}
                        {% if page.heading_intro %} <p class="leading-relaxed text-blue-900">{{ page.heading_intro }}</p>{% endif %}


{% if page.heading_button %}
             <a href="{{ page.heading_url }}" class="px-6 py-6 bg-blue-900 font-semibold text-white text-lg rounded-xl hover:bg-blue-700 transition ease-in-out duration-500" style="margin-top: 20px;display: inline-block;">{{ page.heading_button }}</a>{% endif %}
 
                         
                     </div>
                     <!-- Tweede tekstkolom -->
                     {% if page.heading_image %}
                     <div class="w-full md:w-1/2 text-right md:text-right mb-8 md:mb-0" style="
    text-align: right;
    /* padding: 0 0 20px 0; */
 ">
                         
                         
                         <img src="{% if page.heading_image %}{{ page.heading_image }}{% else %}{{ site.baseurl }}/assets/image/3d-casual-life-favorite-pet.png{% endif %}" style="
    text-align: right;
    display: inline-block;
    padding-bottom: 20px;
    max-height: 450px;
 ">
 
                     </div>
                     {% endif %}
                 </div>
             </div>
</section>
