---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
   {% include head.html %}
   <body id="body" class="font-body">
    {% include header.html %}
	<div class="wrapper">
        {{ content }}
      </div>

	  <div class="container max-w-screen-xl mx-auto px-4 mt-10">
		<div class="container current-page-tags">
			<h3 class="text-lg font-bold mb-4">Ontdek meer over: {{ page.tags | join: ', ' }}</h3>
		  </div>
	  
	  <div class="container related-posts mt-8">
		<ul>
		  {% assign page_tags = page.tags %}
		  {% assign related_list = "" %}
	  
		  <!-- Filteren van berichten -->
		  {% for post in site.posts %}
			{% assign common_tags = false %}
			{% for tag in post.tags %}
			  {% if page_tags contains tag %}
				{% assign common_tags = true %}
				{% break %}
			  {% endif %}
			{% endfor %}
			{% if common_tags %}
			  {% assign related_list = related_list | append: post.url | append: ',' %}
			{% endif %}
		  {% endfor %}
	  
		  <!-- Filteren van pagina's -->
		  {% for page in site.pages %}
			{% if page.layout == "default" %}
			  {% assign common_tags = false %}
			  {% for tag in page.tags %}
				{% if page_tags contains tag %}
				  {% assign common_tags = true %}
				  {% break %}
				{% endif %}
			  {% endfor %}
			  {% if common_tags %}
				{% assign related_list = related_list | append: page.url | append: ',' %}
			  {% endif %}
			{% endif %}
		  {% endfor %}
	  
		  {% assign related_list = related_list | split: ',' | uniq %}
		  {% for url in related_list limit: 5 %}
			{% assign related_post = site.posts | where: "url", url | first %}
			{% if related_post == nil %}
			  {% assign related_post = site.pages | where: "url", url | first %}
			{% endif %}
			<li class="mb-2">
			  <a href="{{ related_post.url }}" class="text-blue-600 hover:underline">{{ related_post.title }}</a>
			</li>
		  {% endfor %}
		</ul>
	  </div>
	</div> 
				  
	  
			

         {% include footer.html %}
   


         <!-- Begin TradeTracker Code -->
<script type="text/javascript"><!-- // --><![CDATA[
	var _viewTagOptions = {
		type: 'a',
		site: 466154,
		version: 1
	};

	(function() {var tt = document.createElement('script'), s = document.getElementsByTagName('script')[0]; tt.setAttribute('type', 'text/javascript'); tt.setAttribute('src', 'https://tm.tradetracker.net/public/viewTag.js'); s.parentNode.insertBefore(tt, s);})();
// ]]></script>
<noscript><img src="https://tm.tradetracker.net/pageview?t=a&amp;s=466154&amp;v=1" alt="" /></noscript>
<!-- End TradeTracker Code -->


<!-- Begin TradeTracker SuperTag Code -->
<script type="text/javascript">

	var _TradeTrackerTagOptions = {
		t: 'a',
		s: '466154',
		chk: '007b870a48a02e20c7705e6d9752822a',
		overrideOptions: {}
	};

	(function() {var tt = document.createElement('script'), s = document.getElementsByTagName('script')[0]; tt.setAttribute('type', 'text/javascript'); tt.setAttribute('src', (document.location.protocol == 'https:' ? 'https' : 'http') + '://tm.tradetracker.net/tag?t=' + _TradeTrackerTagOptions.t + '&amp;s=' + _TradeTrackerTagOptions.s + '&amp;chk=' + _TradeTrackerTagOptions.chk); s.parentNode.insertBefore(tt, s);})();
</script>
<!-- End TradeTracker SuperTag Code -->

   </body>
</html>